		body {
			background-image: url(bg.png);
			font-family: Tahoma;
			margin-right: 200px;
			margin-left: 250px;
			width: 1020px;
			height:800px;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
			margin-top: -12px;
		padding-bottom: 1px;
		}
		
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
			padding-left: 10px;
			font-size: 17px;
		}

		#content{
			
		}
		nav{
			margin-left: 10px;
			margin-right: 10px;
		}
		
		nav li {
			display: inline-block ;
			margin-right: 10px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		nav li a {
			color: black;
			text-decoration: none;

		}		
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
			margin:10px 0px 10px 10px;
			padding-top: 10px;
			width: 689px;
			height: 410px;
		}
		
		aside{
			margin-right: 10px;
			float: right;
			margin-top: -431px;
			margin-left: -10px;
			padding-top: 10px;
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
			width: 310px;
			height: 410px;
		}
		
		body article {
			background-color: rgba(200,200,200,0.6);
			margin-top: 10px;
			margin-bottom:10px;
			margin-right: 10px;
			margin-left: 10px;
		}
		
		header {

		}
		
		footer {
			background-color: rgba(255,255,200,0.3);
			margin-top: -10px;
			margin-left: 10px;
			margin-right: 10px;
			margin-bottom: 10px;
			text-align: center;
		}
		.hdr{
			padding-top: 30px;
			margin-left: 454px;
		}