		body {
			background-image: url(bg.png);
			font-family: Tahoma;
			margin-right: 200px;
			margin-left: 250px;
			width: 1020px;
			height:800px;
		}
		
		#frame {
			background-color: rgba(255,200,200,0.3);
			margin-top: -12px;
		}
		
		header nav ul {
			list-style-type: none;
			background-color: rgba(255,255,200,0.3);
		}
		
		#content {
			
		}
		
		nav li {
			display: inline;
		}
		
		nav li a {
		}
		
		main{
			border: 1px black solid;
			background-color: rgba(200,200,255,0.3);
		}
		
		aside{
			border: 1px black solid;
			background-color: rgba(200,255,200,0.3);
		}
		
		body article {
			background-color: rgba(200,200,200,0.6);
		}
		
		header {

		}
		
		footer {
			background-color: rgba(255,255,200,0.3);
		}
		.hdr{
			padding-top: 30px;
			margin-left: 454px;
		}